html {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Your CSS below here */
.coolbox {
  margin: 50px auto;
  background-color: red;
  width: 200px;
  height: 150px;
  border: 1px solid #bc1e1e;
  border-radius: 17px;
  outline-offset: 1rem ;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  
  font-size: 1.1rem;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0)100%);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2),
  inset 2px 2px 4px rgba(255, 255, 255, 0.6),
  inset -2px -2px 3px rgba(0, 0, 0, 0.5);
}